<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ElectroShop</display-name>
  <servlet>
    <servlet-name>electroshop-servlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/electroshop-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>electroshop-servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asdasd</display-name>
    <servlet-name>asdasd</servlet-name>
    <servlet-class>electro.service.asdasd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asdasd</servlet-name>
    <url-pattern>/asdasd</url-pattern>
  </servlet-mapping>
</web-app>